.tonightButtonSimple {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    outline: 0;
    border: 0;
    background-color: #1e1e1e;
    color: white;
    transition: all .3s;
}

.tonightButtonSimple:hover {
    background-color: #D0BEE5;
    color: #1e1e1e;
}

.tonightButton {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    outline: 0;
    border: 0;
    background-color: #1e1e1e;
    color: white;
    transition: all .3s;
}

.tonightButton svg {
    fill: white;
    transition: all .3s;
}

.tonightButton:hover {
    background-color: #D0BEE5;
    color: #1e1e1e;
}

.tonightButton:hover svg {
    fill: #1e1e1e;
}